.card {
    flex-basis: 450px;
}

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 900px) {
    /* step 11 */
    body>header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
    }
    .nav_links {
        display: flex;
        flex-direction: row;
    }
    /* step 12 */
    .pricing {
        flex-direction: row;
        align-items: center;
    }
    .card {
        flex-basis: 275px;
    }
}

@media all and (prefers-reduced-motion: reduce) {

}

@media print {

}